
{% extends 'base.html' %}
{% block title %}Account Recovery{% endblock %}
{% block content %}
<div>
    <form method="POST" action="{{ url_for('auth.change_password') }}">
        <fieldset>
            <legend>Account Recovery</legend>
            {{ form.hidden_tag() }}
            <div>
                <label for="password">{{ form.password.label }}</label><br>
                {{ form.password() }}<br>
                {% for error in form.password.errors %}
                    <div>{{ error }}</div>
                {% endfor %}
            </div>
            <br>
            <div>
                <label for="confirm_password">{{ form.confirm_password.label }}</label><br>
                {{ form.confirm_password() }}<br>
                {% for error in form.confirm_password.errors %}
                    <div>{{ error }}</div>
                {% endfor %}
            </div>
            <br>
            <div>
                <button type="submit">Submit</button>
            </div>
        </fieldset>
    </form>
</div>
{% endblock %}